:root{
    --background-color: #314453b6;
    --darker-background-color: #243848;
    --accent-color: #41dce1;
    --text-color:#ffffff;
    --navbar-height:72px;
}
*{
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}

html{
    height: 100%;
}
body{
    height: 100%;
    background-image: url(Hintergrung1.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100% 100%;
    
}
nav{
    height: var(--navbar-height);
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-decoration: none;
}
nav ul{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
nav li{
    height: 100%;
    width: 150px;
    text-align: center;
    position: relative;
}
nav li:hover{
    background-color: var(--accent-color);
}
 nav ul a{
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
} 

.dropdown{
    height: min-content;
    width: 200px;
    background-color: var(--background-color);

    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: var(--navbar-height);

}
.dropdown li{
    height: 70px;
    width: 100%;
}

.dropdown li a{
    justify-content: flex-start;
    padding-left: 30px;
    width: calc(100%-30px);
}
nav li:hover .dropdown{
    display: flex;
}

nav input[type="checkbox"]{
    display: none;
}
.expandable_li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle_button{
    width: 30px;
    height: 23px;

    position: absolute;
    top: 25px;
    right: 25px;

    display: none;
    flex-direction: column;
    justify-content: space-between;
}
.bar{
    height: 4px;
    width: 100%;
    background-color: var(--text-color);
    border-radius: 100px;
}


@media(max-width:850px){
    .toggle_button{
        display: flex;
    }
    nav ul{
        height: min-content;
        width: 100%;
        background-color: var(--background-color);

        display: none;
        position: absolute;
        top: var(--navbar-height);
    }
    nav li{
        height: min-content;
        width: 100%;
    }
    nav ul a{
        padding: 30px 0;
    }
    .expandable_li{
        display: block;
    }
    .expandable_li label{
        padding: 30px 0;
        cursor: pointer;
        display: block;
    }
    .expandable_li:hover .dropdown{
        display: none;
    }
    .expandable_li input[type="checkbox"]:checked ~ .dropdown{
        display: block;
    }
    .dropdown{
        position: static;
        width: 100%;
    }
    .dropdown li{
        padding: 0;
        display: block;
        position: static;
        background-color: var(--darker-background-color);
    }
    .dropdown li a{
        width: 100%;
        padding: 0;
        justify-content: center;
    }
    #toggle_button:checked ~ ul{
        display: block;
    }
}



footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #314453ad;
    height: auto;
    width: 100vw;
    font-family: open sans-serif;
    padding-top:5px;
    color: white;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.4rem;
    font-weight: 400px;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 5px auto;
    line-height: 1px;
    font-size: 12px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0.5rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: white;
}
.socials a i{
    font-size: 1.5rem;
    
    transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background-color: #1d2933;
    width: 100vw;
    padding: 10px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 1px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 100;
}

h3{
    font-size: 10px;
}